body{
	background: #000;
	display: flex;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
	color: white;
	align-items: center;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

input{
    color: #000;
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}

label{
	color: #000;
	font-size: 18px;
	padding: 10px;
}

h1{
	text-align: center;
	color: black;
}
h2{
    font-size: 40 px;
    color: white;
}

.content{
	display: inline-block;
	text-align: left;
}

a{
	font-size: 18 px;
	background: #000;
	padding: 10px 15px;
	color: white;
	margin-right: 10px;
    border: 2px solid black;
    text-decoration: none;
}
a:hover{
	opacity: .5;
}

.success{
	background: #000;
	color: #fff;
	padding: 10px;
	width: 95%;
	border-radius: 5px;
	margin: 20px auto;
}
.error{
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.navbar{
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.navdiv{
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	padding: 15px 20px;
	min-height: 80px;
}
.navdiv ul{
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.logo a{
	color: #000;
	background: white;
}

.form{
	background: #008000;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

form{
    background-color: white;
    width: 95%;
	max-width: 400px;
    padding: 30px;
    border-radius: 10px;
}

.button-style{
	font-size: 18px;
	background: #000;
	padding: 10x 15px;
	color: white;
	border-radius: 5px;
	margin-right: 10px;
	text-decoration:none;
}
.button-style:hover{
	opacity: .5;
}

@media screen and (max-width: 768px){
    .navbar{
        position: relative !important;
        height: auto !important;
    }

    .navdiv{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .logo a{
        display: block;
        text-align: center;
        margin-bottom: 15px;
        white-space: normal;
    }

    .navdiv ul{
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .navdiv ul li{
        width: 100%;
        text-align: center;
	}
    .navdiv ul li a{
        display: block;
        width: 100%;
        margin: 0;
    }
}
